    /* starts navbar parts */
    
    .logo h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #FD6F00;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
    }
    
    .nav-link {
        margin-top: 12px;
    }
    
    .nav-link a {
        color: white;
        text-decoration: none;
        padding: 0 25px;
        font-family: "Rubik", sans-serif;
        font-size: 21px;
        font-weight: 400px;
    }
    
    a.cv-button {
        background-color: #FD6F00;
        padding: 10px;
        border-radius: 7px;
    }
    /* starts banner part */
    
    .banner-container h1 {
        color: white;
        font-family: "Rubik", sans-serif;
        font-size: 41px;
        font-weight: 800px;
        line-height: 47.4px;
        word-spacing: 2px;
    }
    
    .banner-container p {
        color: #FFFFFF80;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-weight: 800px;
        line-height: 21.33px;
        margin-top: 20px;
        word-spacing: 2px;
    }
    
    .banner-container {
        display: flex;
        justify-content: space-between;
    }
    
    .banner-image img {
        height: 500px;
        width: fit-content;
        border: 1px solid white;
        border-radius: 50px;
        margin-right: 80px;
    }
    
    .banner-container {
        margin-top: 100px;
    }
    
    .motto {
        color: #FFFFFF;
        font-family: "Rubik", sans-serif;
        font-size: 24px;
        font-weight: 300px;
        line-height: 28.44px;
        margin-top: 30px;
        word-spacing: 2px;
        word-spacing: 10px;
    }
    
    .button {
        display: flex;
        justify-content: space-between;
        border: 1px solid white;
        width: 250px;
        margin-top: 40px;
        font-family: "Rubik", sans-serif;
        font-size: 25.69px;
        font-weight: 400px;
        line-height: 30.44px;
        padding: 10px;
        gap: 15px;
        border-radius: 50px;
    }
    
    .button a {
        color: white;
        text-decoration: none;
    }
    
    .portfolio {
        display: flex;
        background-color: #FD6F00;
        border-radius: 5px;
    }
    
    .portfolio-icon {
        margin: 3px;
        color: white;
        height: 25px;
        width: 25px;
    }
    
    .social {
        margin-top: 40px;
    }
    
    .social a {
        margin: 10px;
    }
    
    .long-banner {
        display: flex;
        gap: 30px;
        margin-top: 40px;
        background-color: black;
        height: 55px;
        rotate: -5deg;
    }
    
    .long-banner i {
        margin-left: 15px;
    }
    /* starts about me parts */
    
    .one {
        margin-top: 80px;
    }
    
    .myself-title h1 {
        font-family: "Rubik", sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 47.4px;
        color: #FFFFFF;
    }
    
    .myself-desc p {
        margin-top: 20px;
        color: #FFFFFF80;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.33px;
    }
    
    .star {
        display: flex;
        margin-top: 100px;
    }
    
    .about-me {
        display: flex;
        justify-content: space-between;
    }
    
    .experience-age h1 {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 47px;
        line-height: 47px;
        color: #FFFFFF;
        margin-top: 20px;
    }
    
    .experience-desc p {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 10px;
        text-align: right;
    }
    /* experience container starts */
    
    .experience-container {
        display: flex;
        justify-content: space-between;
        height: 500px;
        width: 100%;
        background-color: #2d2531;
        margin-top: 50px;
    }
    
    .italic {
        font-family: "Rubik", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        font-style: italic;
    }
    
    .experience-para h3 {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        color: #FFFFFF;
        margin-top: 10px;
    }
    
    .experience-left p {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-top: 15px;
    }
    
    .experience-left {
        padding: 100px;
    }
    
    .experience-right {
        padding: 100px;
        margin-top: px;
    }
    
    .duration {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        gap: 100px;
    }
    
    .duration .big {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        font-style: italic;
    }
    
    .duration .small {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .works h1 {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    
    .sum {
        margin-top: 40px;
    }